.App {
  display: grid;
}

.with-sidebar {
  grid-template-areas:
    "menu header header header"
    "menu main main right"
    "menu main main right"
    "menu footer footer footer";
}

.without-sidebar {
  grid-template-areas:
    "header header header header"
    "main main main right"
    "main main main right"
    "footer footer footer footer";
}

.header {
  grid-area: header;
  margin-left: 1rem;
}

.main {
  grid-area: main;
  margin-left: 1rem;
}

.menu {
  grid-area: menu;
}

.right {
  grid-area: right;
}

.footer {
  grid-area: footer;
  margin-left: 1rem;
}
