@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Roboto Mono";
}

.App {
  display: grid;
  height: 100vh;
  overflow: scroll;
}

body {
  overflow: hidden;
}

.with-sidebar {
  grid-template-areas:
    "menu header header header"
    "menu main main right"
    "menu main main right"
    "menu footer footer footer";
}

.without-sidebar {
  grid-template-areas:
    "header header header header"
    "main main main right"
    "main main main right"
    "footer footer footer footer";
}

.header {
  grid-area: header;
  margin-left: 1rem;
}

.main {
  grid-area: main;
  margin-left: 1rem;
}

.menu {
  grid-area: menu;
}

.right {
  grid-area: right;
}

.footer {
  grid-area: footer;
  margin-left: 1rem;
}
